
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- Esta es una fuente descargada de fonts.google.com -->
        <link rel="stylesheet" href="/css/estilo.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    
        <!-- Esta es una fuente descargada de fonts.google.com -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    
        <!-- para las figuritas -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
    
        <!--el viewport se usa para controlar cómo se muestra el contenido en dispositivos móviles y en diferentes tamaños de pantalla-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!--esto es normalize-->
        <link rel="stylesheet" href="/css/normalize.css">
    </head>









    <body>
        <header class="main-header">

            <div class="main-header-top">
                
                <a href="/"> <img src = "/images/logo-mercado-liebre.svg" class="logo"></a>
                <div class="barra-de-busqueda">
                    <p><i class="fas fa-search"></i>barra de busqueda</p>
                </div>
                <br>
                <h2 class="sub-header">
                    <i class="fas fa-hand-holding-usd"></i>
                    paga en cuota y sin targeta
                </h2>
            </div>

            <div class="burger-menu">

                <a href="" class="burger-button"><i class="fas fa-bars"></i></a>
            
            </div>

            <!-- en href="" van las direcciones -->
        
            <nav class="main-navbar">
                <ul class="left-navbar">
                <li><a href="">ofertas</a></li>
                <li><a href="">tienda oficiales</a></li>
                <li><a href="">vender</a></li>
                <li><a href="">ayuda</a> </li>
                </ul>
                <ul class="right-navbar">  
                <li><a href="/crear-cuenta">crea tu cuenta<i class="fas fa-id-card"></i></a></li>
                <li><a href="/login">ingresa <i class="fas fa-door-open"></i></a></li>
                <li><a href="">mis compras<i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
        
            <img class="anuncio" src="/images/img-home-banner.jpg"alt="">
    
        </header>









        <main class="login-main">
            <div class="login-section">
                <div>
                    <input type="text" class="input-individual" name="nombre" placeholder="nombre">
                </div>
                <div>
                    <input type="email" class="input-individual" name="email" placeholder="Correo electrónico">
                </div>
                <div>
                    <input type="password" class="input-individual" name="contraseña" placeholder="contraseña">
                </div>   
                <div>
                    <button type="submit" class="boton-del-login" onclick="alert('¡Hola!')">Guardar</button>
                </div>

            </div>

        </main>








        <footer class="footer-container">
            <div class="footer-desc">
                <i class="fas fa-credit-card"></i>
                <p class="negrita">Pagá con tarjeta o en efectivo</p>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="footer-desc">
                <i class="fas fa-gift"></i>
                <p class="negrita">Envío gratis desde $ 2.500</p>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="footer-desc">
                <i class="fas fa-user-shield"></i>
                <p class="negrita">Seguridad, de principio a fin</p>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
                <p class="negrita">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>  
    
               
        </footer>

    </body>
</html>
